<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227986853129-uesmkj2omj6ghou01199c0q919ljelda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227986853129-uesmkj2omj6ghou01199c0q919ljelda</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>227986853129-3hpqq90kepsgrgpse0s2cd2urcv5086d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWOIj-WXujoehZEgeXFLCgfLY8hJgM1Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>227986853129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleMail</string>
	<key>PROJECT_ID</key>
	<string>simple-mail-eeb17</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-mail-eeb17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227986853129:ios:4a97608c152d19402957d8</string>
</dict>
</plist>